@import '../Templates.scss';
@import '../Variables.scss';

.burger {
  display: none;
  &-icon {
    display: none;
    margin-left: 16px;
  }
  .nav {
    display: none;
  }
  .burger-nav {
    ul {
      display: none !important;
    }
    .btn {
      display: none;
    }
    .burger-flags {
      display: none;
    }
    .switcher-wrapper {
      display: none;
    }
    &-header {
      display: none;
    }
  }
  .burger-dropdown {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    display: block;
    &-icon {
      display: block;
      z-index: 10;
      position: relative;
      width: 30px;
      height: 18px;
      z-index: 400;
      cursor: pointer;
      span {
        display: block;
        height: 2px;
        width: 30px;
        margin-bottom: 6px;
        width: 100%;
        transition: all 0.2s ease 0s;
        background: $lightBg;
      }
      .span--3 {
        margin-bottom: 0;
      }
    }
    &-icon--active {
      // position: fixed;
      // top: 30px;
      // right: 15px;
      span {
        background: $darkBg;
        left: 0;
        position: absolute;
      }
      .span--2 {
        transform: scale(0) translate(0px, -50%);
      }
      .span--1 {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
     .span--3 {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }
    &-content {
      position: fixed;
      z-index: 100;
      top: 0px;
      right: 0px;
      padding-top: 93px;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
      transition: all 0.2s ease 0s;
      transform: translate(100%, 0);
    }
    &-content--active {
      transform: translate(0px, 0px);
      .burger-nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 22px 16px 16px 16px;
        height: 440px;
        overflow: auto;
        background: $blueLightBg;
        color: $darkTextBg;
        width: 250px;
        ul {
          display: block !important;
          margin-top: 27px;
          li {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 8px;
          }
        }
        &-header {
          display: block;
        }
        .switcher-wrapper {
          display: block;
          margin-top: 8px;
        }
        .btn {
          @include btn;
          margin-top: 16px;
          width: 100%;
        }
        .btn--2 {
          margin-top: 8px;
        }
        .burger-flags {
          display: block;
          .flag {
            margin-top: 16px;
            padding: 7px 4px 7px 3px;
            border-radius: 6px;
            border: 1px solid #1360ED;
            cursor: pointer;
            transition: all 900ms;
            &:hover {
              background: $blueBg;
              color: $lightBg;
            }
          }
          .flag--ru {
            margin-left: 8px;
          }
        }
      }
    }
    .private-burger-nav {
      padding: 0;
      .user-icon {
        margin-top: 22px;
        margin-left: 12px;
      }
      .switcher-wrapper {
        margin-left: 12px;
        margin-bottom: 27px;
      }
      .private-item {
        margin-bottom: 0px;
        .link-wrapper {
          @include flexSpaceBetween;
          position: relative;
          width: 100%;
          .chevron-wrapper {
            position: absolute;
            right: 5px;
            @include flexCenter;
            width: 30px;
            height: 20px;
            cursor: pointer;
            .chevron {
              transform: rotate(90deg);
            }
          }
        }
        .link {
          padding: 5px 12px;
          width: 100%;
          a {
            width: 100%;
          }
        }
        .private-dropdown {
          display: none;
          cursor: pointer;
          transition: 0.5s;
          &-item {
            margin-top: 5px;
            margin-left: 5px;
          }
        }
        .link-btn {
          @include btn;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0;
          margin: 0;
          background: inherit;
          height: auto;
          color: $darkTextBg;
          width: 100%;
        }
        .private-dropdown--active {
          display: block;
          margin-left: 12px;
          transition: 0.5s;
          font-size: 16px;
          line-height: 20px;
          .active {
            color: $blueBg;
          }
        }
      }
      .private-item > .active {
        background: $yellowBg;
      }
      .link-wrapper > .active {
        background: $yellowBg;
      }
    }
  }
}