@import '../Templates.scss';
@import '../Variables.scss';

.contactsForm {
  margin-bottom: 56px;
  .title {
    @include title;
    margin-bottom: 20px;
  }
  .form {
    max-width: 995px;
    padding: 0 15px;
    margin: 0 auto;
    &-data {
      display: flex;
      @media screen and (max-width: 1199px) {
        flex-direction: column;
      }
      .data-left, .data-right {
        display: flex;
        flex-direction: column;
        label {
          @include fs20;
        }
        input {
          @include input;
          margin-top: 5px;
          width: 278px;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
        .name {
          margin-bottom: 5px;
        }
      }
      .data-left {
        margin-right: 30px;
        @media screen and (max-width: 1199px) {
          margin-right: 0;
          flex-direction: row;
          &-label {
            display: flex;
            flex-direction: column;
            width: 100%;
            input {
              width: 100%;
            }
          }
          &-label--1 {
            margin-right: 8px;
          }
          &-label--2 {
            margin-left: 8px;
          }
      }
      }
      .data-right {
        width: 100%;
        label {
          margin-bottom: 5px;
          border-radius: 6px;
        }
        .massage {
          padding: 4px 10px;
          color: $darkTextBg;
          border-radius: 6px;
          height: 100%;
          outline: none;
          @media screen and (max-width: 1199px) {
            height: 125px;;
          }
        }
      }
    }
    .btn {
      @include btn2;
      margin-top: 24px;
      width: 100%;
    }
  }
}