@import '../Variables.scss';
@import '../Templates.scss';

.search-myinventory {
  @include flexSpaceBetween;
  margin: 16px 0 10px 0;
  padding: 16px;
  background: $blueLightBg;
  border-radius: 6px;
  color: $darkTextBg;
  &-left {
    display: flex;
    align-items: center;
    .div {
      margin-right: 16px;
      border-radius: 6px;
      width: 24px;
      height: 24px;
      background: $lightBg;
    }
    .select {
      @include select;
      margin-right: 8px;
    }
    .search-input {
      @include input;
      margin-right: 8px;
    }
    .text {
      @include fs18;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    .select {
      @include select;
      margin: 0 8px;
    }
    .text {
      @include fs18;
    }
    .number {
      @include flexCenter;
      justify-content: center;
      width: 82px;
      height: 40px;
      @include fs18;
    }
  }
}