@import '../Variables.scss';
@import '../Templates.scss';

// Search-Form in SearchPage
.search-product {
  @include flexSpaceBetween;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  background: $blueLightBg;
  border-radius: 6px;
  .dropdown {
    .active {
      background: red;
    }
  }
  .select-wrapper {
    .select {
      margin-bottom: 16px;
      background: $lightBg;
      width: 277px;
      height: 40px;
      border-radius: 6px;
      @include fs18;
      .ant-select-selection-item {
        margin: 3px 0 0 0 ;
      }
    }
    .btn {
      @include btn;
      width: 277px;
    }
  }
  .search-input {
    @include input;
    max-width: 671px;
    width: 100%;
  }
  .search-title {
    @include fs20;
    color: $darkTextBg;
  }
}