@import '../Variables.scss';
@import '../Templates.scss';

.search-mail {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  background: $blueLightBg;
  .search-input {
    @include input;
    border: none;
    border-radius: 6px 0 0 6px;
    width: 100%
  } 
  .icon-wrapper {
    @include flexCenter;
    height: 40px;
    background: #ffffff;
    border-radius: 0 6px 6px 0;
    .icon {
      margin-right: 12px;
      cursor: pointer;
    }
  }
}