@import '../Templates.scss';
@import '../Variables.scss';

.myinventory {
  &-header {
    @include flexSpaceBetween;
    .title {
      @include fs30;
    }
    &-right {
      display: flex;
      align-items: center;
      div {
        margin-right: 83px;
        @include fs24;
      }
      .btn {
        @include btn;
        width: 175px;
      }
    }
  }
}

.inventory-settings, .inventory-changes {
  .title {
    @include fs30;
  }
  .text {
    margin-top: 16px;
    @include fs16;
    line-height: 140%;
  }
}