@import '../Variables.scss';
@import '../Templates.scss';

.orders {
  &-header {
    margin: 0 0 16px 0;
    display: flex;
    justify-content: space-between;
    .header-right {
      .item {
        display: flex;
        justify-content: space-between;
        @include fs18;
        &:nth-child(1) {
          margin-bottom: 11px;
        }
        .count {
          margin-left: 18px;
        }
      }
    }
  }
}