@import '../Variables.scss';
@import '../Templates.scss';

.order-card {
  margin-top: 16px;
  padding: 16px 10px 16px 16px;
  background: $blueLightBg;
  color: $darkTextBg;
  border-radius: 6px;
  .order-header {
    @include flexSpaceBetween;
    margin-bottom: 8px;
    @include fs18;
  }
  .order-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include fs16;
    .content-left {
      display: flex;
      .image {
        margin-right: 16px;
        width: 159px;
        height: 154px;
      }
      .item {
        display: flex;
        margin-bottom: 8px;
      }
      .item-1 {
        margin-bottom: 10px;
        div {
          &:nth-child(2) {
            margin-left: 30px;
            max-width: 615px;
            width: 100%
          }
        }
      }
      .item {
        &-left {
          margin-right: 24px;
          width: 86px;
        }
      }
    }
    .content-right {
      .btn {
        @include btn;
        width: 167px;
        &:nth-child(1) {
          margin-bottom: 16px;
        }
      }
    }
  }
}