@import '../Variables.scss';
@import '../Templates.scss';

.product-card {
  display: flex;
  padding: 8px 19px 5px 8px;
  margin-bottom: 16px;
  max-width: 582px;
  width: 100%;
  width: 582px;
  background: $blueLightBg;
  border-radius: 6px;
  color: $darkTextBg;
  .image {
    margin-right: 14px;
    width: 109px;
    height: 107px;
  }
  .link {
    width: 109px;
    display: flex;
    justify-content: center;
  }
  .content {
    width: 100%;
    .product-title {
      margin-bottom: 5px;
      @include fs16;
      line-height: 140%;
    }
    .product-info {
      display: flex;
      justify-content: space-between;
      @include fs16;
      .info-left {
        div {
          margin-bottom: 5px;
        }
        span {
          margin-left: 8px;
          font-weight: 600;
        }
      }
      .info-right {
        .info-item {
          @include flexSpaceBetween;
          margin-bottom: 5px;
          .item-title {
            width: 74px;
          }
          .item-count {
            margin-left: 15px;
            font-weight: 600;
          }
          .anticon, .anticon-star {
            svg {
              width: 13px !important;
              height: 13px !important;
            }
          }
          .ant-rate-star, .ant-rate-star-full {
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
