@import '../Variables.scss';
@import '../Templates.scss';

.features {
  .title {
    @include title;
  }
  .text {
    @include fs20;
    line-height: 140%;
    text-align: center;
    margin: 20px auto 16px auto;
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    .item {
      display: flex;
      max-width: 380px;
      width: 100%;
      svg {
        width: 38px;
        height: 38px;
      }
      &-text {
        margin-left: 17px;
        @include fs18;
        line-height: 140%;
        @media screen and (max-width: 1199px) {
          margin-left: 11px;
          max-width: 342px;
          width: 100%;
        }
      }
    }
  }
  .feature-1 {
    padding: 0 0 55px 0;
    .text {
      max-width: 790px;
      width: 100%;
    }
    .items {
      .item {
        margin-bottom: 30px;
      }
    }
  }
  .feature-2 {
    padding: 0 0 85px 0;
    .text {
      max-width: 893px;
      width: 100%;
    }
    @media screen and (max-width: 1199px) {
      padding: 0 0 60px 0;
      .items {
        .item {
          margin-bottom: 30px;
        }
      }
    }
  }
  .feature-3 {
    padding: 0 0 55px 0;
    .text {
      max-width: 994px;
      width: 100%;
    }
    .items {
      .item {
        margin-bottom: 30px;
        max-width: 583px;
        width: 100%;
        @media screen and (max-width: 1199px) {
          max-width: 380px;
          width: 100%;
        }
      }
    }
  }
  .feature-4 {
    padding: 0 0 85px 0;
    .text {
      max-width: 994px;
      width: 100%;
    }
    @media screen and (max-width: 1199px) {
      padding: 0 0 45px 0;
      .items {
        .item {
          margin-bottom: 30px;
        }
      }
    }
  }
}