@import '../Templates.scss';
@import '../Variables.scss';

.login {
  margin-bottom: 72px;
  width: 100%;
  height: 440px;
  background: url('../../images/photo3.png') center/cover ;
  color: $lightBg;
  @media screen and (max-width: 1199px) {
    margin-bottom: 56px;
  }
  .container {
    height: 100%;
    @include flexCenter;
    flex-direction: column;
    .title {
      @include fs36;
      line-height: 140%;
      margin-bottom: 8px;
      font-weight: 500;
      color: $lightBg;
    }
    .btn {
      @include btn2;
      margin: 16px 0;
      width: 278px;
    }
    p {
      @include fs20;
      line-height: 140%;
    }
    a {
      @include fs20;
      display: inline-block;
      text-align: center;
      margin-top: 8px;
      width: auto;
      font-weight: 600;
      color: $yellowBg;
    }
    .signin {
      color: $yellowBg;
      cursor: pointer;
    }
  }
}